body {
	margin: 0 100px;
	background: #dCe2e8;
}

.content {
	box-shadow: 0 0.5em 1em #bfbfbf;
	max-width: 750px;
	min-width: 200px;
	margin: 1em auto 1em;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 12pt;
	background: #fff;
	padding: 50px;
}

h1 {
	font-family: 'Cantora One', Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;;
	font-size: 35pt;
	text-align: center;
	margin: 0;
}

h2 {
	font-family: 'Cantora One', Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	margin: 1em 0;
}

h3 {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	margin: 1em 0;
}

a:link {
	text-decoration: none;
	color: #05a;
}

a:visited {
	color: #50a;
}

a:hover {
	color: #3a5;
}

a:active {
	color: #c00;
}

.date {
	text-align: right;
	font-size: 75%;
	color: #c1c6cc;
	font-style: italic;
}

blockquote {
	padding: 1em;
	border: 1px solid #dCe2e8;
	box-shadow: inset 0 0 0.5em #dCe2e8;
}

blockquote p {
	margin: 0;
}

blockquote .source {
	margin-top: 1em;
	font-style: italic;
	font-size: 75%;
	text-align: right;
}

.footnote {
	font-size: 90%;
}

#disqus_thread {
	box-shadow: inset 0 0 0.5em #dCe2e8;
	margin-top: 2em;
	padding: 1em;
}

.pic-para {
	overflow:auto;
}

.pic-para p {
	text-align: justify;
}

.pic-para p {
	margin: 0;
}

.pic-para img {
	margin-top: 0.5em;
}

.pic-para.right img {
	float:right;
	margin-left: 1em;
}

.pic-para.left img {
	float:left;
	margin-right: 1em;
}